<div class="container shelter-container mt-3 ">
  <div class="row">
    <div class="col-9">
      <div class="pets-container">
        <div class="my-pets-head d-flex">
          <h1>My Pets</h1>
          <%= link_to new_pet_path, class:"new-pet-btn" do%>
            <i class="fa-solid fa-circle-plus"></i>
          <%end %>
        </div>
          <section class="grid-bookings-section mb-5">
          <% @shelter.pets.each do |pet| %>
            <div class="grid-bookings-section-item">
              <%=render "shared/pet_card", pet: pet%>
            </div>
          <% end %>
        </section>
      </div>
    </div>

    <div class="col-3">
      <h2 class="d-flex justify-content-center mb-3">Booking Requests</h2>
      <div class="bookings-container bookings-column">
        <div class="scrollbar d-flex justify-content-center">
          <div class="bookings-items">
            <p>Pending</p>
            <% @shelter.bookings.where(status: "pending").each do |booking|%>
              <%=render "shared/reservation_card", booking: booking%>
            <% end %>
            <p>Accepted</p>
            <% @shelter.bookings.where(status: "accepted").each do |booking|%>
              <%=render "shared/reservation_card", booking: booking%>
            <% end %>
            <p>Rejected</p>
            <% @shelter.bookings.where(status: "declined").each do |booking|%>
              <%=render "shared/reservation_card", booking: booking%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
