<div class="card pet-card card-thinner" style="width: 20rem;">
  <%= link_to pet_path(pet), class:"pet-card-btn" do%>
  <img class="card-img-top pet-card-image" src="https://source.unsplash.com/featured/?<%=pet.species%>}&#{rand(10000)}" alt="Card image cap">
  <div class="card-body px-3">
    <h3 class="card-title"><%= pet.name %> (<%= pet.species %>)</h3>
    <p class="card-text">Location: <%= pet.shelter.location %></p>
    <p class="card-text">Price: <%= pet.price %>$</p>
    <%= link_to "Delete", pet_path(pet), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} if delete && current_user.shelter == pet.shelter%>
  </div>
  <%end %>
</div>
